.circle-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
  padding: 6px;
}

.circle-link:hover {
  transform: scale(0.8);
}
